# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a pull request.
* @QuentinVaucherLeanIX @marvinrohde-leanix @SureshThiyagarajan-LeanIX @luca-tarallo-leanix @kakshat-leanix @YauheniyaBasaranovichLeanIX
